<template>
  <header class="font-serif absolute flex items-end space-x-2 bottom-0 right-0 p-2 text-xs">
    <span class="bottom-0">Hybrid AI Framework for remote monitoring</span>
    <img src="/ieee.png" class="right-0 inline h-10" />
  </header>
</template>